<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <h3><%= @customer.name %></h3>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/my_page' %>
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <h5>投稿したレビュー一覧</h5>
        </div>
      </div>

      <% @reviews.each do |review| %>
        <div class="row">
          <div class="col-4">
            <h5><%= review.facility.name %></h5>
          </div>
          <div class="col-6">
            <p><%= review.title %></p>
          </div>
          <div class="col-2">
            <%= link_to "削除する", facility_review_path(review.facility_id, review.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>