<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @customer.name %></h3>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/my_page' %>
    <div class="col-8">
      <div class="row py-4 justify-content-center">
        <div class="col text-center">
          <h3>投稿したレビュー一覧</h3>
        </div>
      </div>

      <% @reviews.each do |review| %>
        <div class="row border border-dark py-2 mb-5">
          <div class="col">
            <div class="row mb-3">
              <div class="col">
                <h4><%= link_to review.facility.name, facility_path(review.facility_id) %></h4>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-10 offset-1">
                <h5><%= link_to review.title, facility_review_path(review.facility_id, review) %></h5>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-10 offset-1">
                <div class="row border border-dark">
                  <div class="col-6 d-flex align-items-center border border-dark">
                    <h5>総合評価　<%= review.total_score %>点</h5>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-6 text-center border border-dark">
                        <p>施設　<%= review.facility_score %>点</p>
                      </div>
                      <div class="col-6 text-center border border-dark">
                        <p>温泉　<%= review.onsen_score %>点</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 text-center border border-dark">
                        <p>サービス　<%= review.service_score %>点</p>
                      </div>
                      <div class="col-6 text-center border border-dark">
                        <p>食事　<%= review.meal_score %>点</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3 offset-8 mb-3">
                <%= link_to "削除する", facility_review_path(review.facility_id, review), method: :delete, class: "btn btn-danger btn-block" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>