<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <h3><%= @customer.name %></h3>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/my_page' %>
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <h5>登録情報</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <p>メールアドレス</p>
        </div>
        <div class="col-8">
          <p><%= @customer.name %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>性別</p>
        </div>
        <div class="col-8">
          <p><%= @customer.gender_i18n %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>年齢</p>
        </div>
        <div class="col-8">
          <p><%= @customer.age_i18n %></p>
        </div>
      </div>
      <% unless @customer.guest_user? %>
      <div class="row justify-content-center">
        <div class="col-4">
          <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success btn-block" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>