<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <div class="row border border-dark my-5">
        <div class="col">
          <div class="row">
            <h3>エリアから探す</h3>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <% @regions.each do |region| %>
                <div class="row">
                  <div class="col-4">
                    <h5><%= region.name %></h5>
                  </div>
                  <div class="col-6 offset-1">
                    <%= search_form_for @q, url: search_facilities_path do |f| %>
                      <%= f.collection_select(:prefecture_id_eq, Prefecture.by_region(region.id), :id, :name) %>
                      <%= f.submit "検索" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row border border-dark mb-5">
        <div class="col">
          <div class="row">
            <h3>施設名から探す</h3>
          </div>
          <div class="row">
            <div class="col-9 offset-1">
              <%= search_form_for @q, url: search_facilities_path do |f| %>
                <%= f.search_field :name_cont, class: 'form-control', placeholder: '検索ワード' %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row border border-dark mb-5">
        <div class="col">
          <div class="row">
            <h3>設備から探す</h3>
          </div>
          <div class="row">
            <div class="col">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>