<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @customer.name %>さんの会員情報</h3>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-8">
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>ユーザー名</th>
              <th><%= f.text_field :name, readonly: true %></th>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email, readonly: true %></th>
            </tr>
            <tr>
              <th>性別</th>
              <th><%= f.text_field :sex_i18n, readonly: true %></th>
            </tr>
            <tr>
              <th>年齢</th>
              <th><%= f.text_field :age_i18n, readonly: true %></th>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <th>
                <%= f.select :is_active, options_for_select([['有効', 'true'], ['退会', 'false']], :is_active) %>
              </th>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-4 offset-4">
      <%= link_to "レビュー一覧を見る", admin_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>