<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @customer.name %>さんの会員情報</h3>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>ユーザー名</th>
            <th><%= @customer.name %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @customer.email %></th>
          </tr>
          <tr>
            <th>性別</th>
            <th><%= @customer.gender_i18n %></th>
          </tr>
          <tr>
            <th>年齢</th>
            <th><%= @customer.age_i18n %></th>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <th>
              <%= form_with model: @customer, url: admin_customer_path, local: true, method: :patch do |f| %>
                <%= f.select :is_active, options_for_select([['有効', 'true'], ['退会', 'false']],selected: @customer.is_active) %>
                <%= f.submit "更新", class: "btn btn-primary" %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-4 offset-4">
      <%= link_to "レビュー一覧を見る", admin_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>