<div class="row my-5">
  <div class="col">
    <h3><%= facility.name %></h3>
  </div>
  <div class="col">
    <h5>
      評価　<span id = "star-rate"></span>　　<%= facility.reviews.average(:total_score).to_f.round(1) %>点
    </h5>
  </div>
</div>

<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#star-rate');
  let opt = {
  	size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= facility.reviews.average(:total_score).to_f.round(1) %>

    //星画像の指定などのオプションをここに記述,
   };
  raty(elem,opt);
</script>