<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3><%= @facility.name %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 px-5 px-sm-0 mx-auto">
      <%= form_with model: [@facility, @review], url: facility_reviews_comfirm_path, method: :post, local: true do |f| %>
        <div class="field row my-3">
          <h4>レビューする</h4>
        </div>
        <div class="field row my-3">
          <label for="title" class="col-sm-4 col-form-label">タイトル</label>
          <%= f.text_field :title, class: "col-sm-7", placeholder: "タイトル", id: "title" %>
        </div>
        <div class="field row mb-3">
          <label for="total_score" class="col-sm-4 col-form-label">評価</label>
          <label for="total_score" class="col-sm-4 col-form-label">総合</label>
          <%= f.select :total_score, options_for_select([1, 2, 3, 4, 5]), class: "col-sm-3" %>
          <label for="total_score" class="col-sm-1 col-form-label">点</label>
        </div>
        <div class="field row mb-3">
          <label for="facility_score" class="col-sm-4 offset-4 col-form-label">施設</label>
          <%= f.select :facility_score, options_for_select([1, 2, 3, 4, 5]), class: "col-sm-3" %>
          <label for="facility_score" class="col-sm-1 col-form-label">点</label>
        </div>
        <div class="field row mb-3">
          <label for="osnen_score" class="col-sm-4 offset-4 col-form-label">温泉</label>
          <%= f.select :onsen_score, options_for_select([1, 2, 3, 4, 5]), class: "col-sm-3" %>
          <label for="onsen_score" class="col-sm-1 col-form-label">点</label>
        </div>
        <div class="field row mb-3">
          <label for="service_score" class="col-sm-4 offset-4 col-form-label">サービス</label>
          <%= f.select :service_score, options_for_select([1, 2, 3, 4, 5]), class: "col-sm-3" %>
          <label for="service_score" class="col-sm-1 col-form-label">点</label>
        </div>
        <div class="field row mb-3">
          <label for="meal_score" class="col-sm-4 offset-4 col-form-label">食事</label>
          <%= f.select :meal_score, options_for_select([1, 2, 3, 4, 5]), class: "col-sm-3" %>
          <label for="meal_score" class="col-sm-1 col-form-label">点</label>
        </div>
        <div class="field row mb-5">
          <label for="comment" class="col-sm-4 col-form-label">コメント</label>
          <%= f.text_area :comment, class: "col-sm-7", rows: 4, placeholder: "コメント", id: "comment" %>
        </div>
        <%= f.hidden_field :facility_id %>

        <div class="action">
          <%= f.submit "投稿内容を確認する", class: "btn btn-success col-6 mx-auto d-block" %>
        </div>
      <% end %>
    </div>
  </div>

</div>