<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3>施設一覧</h3>
    </div>
    <div class="col-2 offset-5">
      <%= link_to "新規登録する", new_admin_facility_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
      <table class="table">
        <thead class="table-active">
          <tr>
            <th style="width: 10%">施設ID</th>
            <th style="width: 25%">施設名</th>
            <th style="width: 35%">住所</th>
            <th style="width: 15%">評価</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>

        <tbody>
          <% @facilities.each do |facility| %>
            <tr>
              <td class="aline-middle"><%= facility.id %></td>
              <td class="aline-middle"><%= link_to facility.name, admin_facility_path(facility) %></td>
              <td class="aline-middle"><%= facility.prefecture.name %><%= facility.address %></td>
              <td class="aline-middle"></td>
              <td class="aline-middle"><%= link_to "編集する", edit_admin_facility_path(facility), class: "btn btn-primary btn-block" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <%= paginate @facilities, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    </div>
  </div>

</div>