<!DOCTYPE html>
<html>
  <head>
    <title>BathTab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid mx-2">
      <div class="row mt-3 pb-3 border-bottom">
        <div class="col-3 d-flex align-items-center">
          <% if admin_signed_in? %>
            <%= link_to "BathTab", admin_path, class: "text-reset", style: "font-size: xx-large;" %>
          <% else %>
            <%= link_to "BathTab", root_path, class: "text-reset", style: "font-size: xx-large;" %>
          <% end %>
        </div>
        <% if admin_signed_in? %>
          <% if  request.fullpath.include? "/admin" %>
            <%= render 'shared/admin_header' %>
          <% elsif customer_signed_in? %>
            <%= render 'shared/customer_header' %>
          <% else %>
            <%= render 'shared/header' %>
          <% end %>
        <% elsif customer_signed_in? %>
          <%= render 'shared/customer_header' %>
        <% else %>
          <%= render 'shared/header' %>
        <% end %>
      </div>
    </div>
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
